@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
.mobile-container {
  display: none;
}
.main {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  background: rgba(0, 36, 77, 0.5);
  height: 50vh;
  width: 650px;
  border-radius: 10px;
  box-shadow: 0 0 20px 3px black;
}
a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.right,
.left {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin-left: -20px;
}
input {
  height: 1.4rem;
  border-radius: 5px;
  padding: 4px 7px;
  color: white;
  font-size: 1.1rem;
  outline: 0;
  background: rgba(0, 79, 168, 0.5);
  border: 0;
  margin-left: -40px;
  transition: 0.4s;
  /* width: 10vw; */
}
input:focus {
  background: rgba(24, 132, 255, 0.5);
}
label {
  font-family: "Roboto", sans-serif;
}
.buy-price {
  margin-top: -12px;
}
.sell-price {
  margin-top: -12px;
}
.total-buy-price {
  margin-top: -12px;
}
.btn {
  height: 42px;
  width: 110px;
  border-radius: 8px;
  background: rgb(98, 168, 248);
  outline: 0;
  margin-left: -1vw;
  transition: 0.2s;
  border: 0;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  outline: 0;
  /* transition: 0.3s; */
  background: rgba(0, 64, 138, 0.5);
  color: aliceblue;
}
.total-label {
  margin-top: 80px;
  padding-top: 30px;
}
@media screen and (max-width: 699px) {
  .container {
    width: 440px;
  }
  input {
    width: 150px;
  }
  a {
    font-size: 1.35rem;
  }
  label {
    font-size: 1.1rem;
  }
  .right,
  .left {
    margin-left: 0;
  }
}
@media screen and (max-width: 475px) {
  .mobile-container {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    background: rgba(0, 36, 77, 0.5);
    width: 80vw;
    height: 500px;
  }
  label {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;
  }

  input {
    margin-left: 0;
  }
  .btn {
    margin-left: 0;
    align-self: center;
  }
  a {
    font-size: 1.22rem;
  }
  .container {
    display: none;
  }
  .profit-show {
    display: flex;
    justify-content: center;
  }
}
